body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #504d51 ;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #504d51;
    border-radius: 10px;
  }









.Navbar{
  max-width: 100%;
  background-color: transparent; // this should be transparent
  height: 65px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;

  .Logo{
    img{
      width: 150px;
      height: 30px;
    }
  }

  .Content{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li{
      list-style: none;
      padding: 10px;
      
    }
  }

  .Button{
    button{
      background-color: rgb(34, 117, 34);
      width: 150px;
      height: 50px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      border: none;
      border-radius: 10px
    }
  }

}

.FirstSection{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  
  .FirstSection-1{
    width: 35%;
    margin: 20px;
    padding: 20px;
    .FirstSection-1_text{
      color: green;
      font-size: 80px;
      font-style: italic;
      height: 350px;
     span {
      display: inline-block;
      padding: .25em 0;
      background: #FFC107;
      color: #ffffff;
    }
  }
    .FirstSection-1_Inputbox{
      margin: 20px;
      height: 150px;
      input,Button{
        height: 50px;
        border: none;
      }
      input{
        width: 250px;
        font-size: 20px;
      }
      button{
        background-color: rgb(34, 117, 34);
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .FirstSectio-1_logos{
      display: flex;
      flex-direction: column;
      label{
        font-size: 20px;
      }
      img{
        margin: 10px;
        max-width: 250px;
      }
    }
  }

  .FirstSection-2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 90%;
      height: 75vh;
      border-top-right-radius: 250px;
      border-top-left-radius: 250px;
    }
      }
  .FirstSection-3{
    width: 20%;
padding: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 110px;
.FirstSection-3_button{
  margin: 20px;
  button{
    width: 50px;
    height: 50px;
    background-color: plum;
    border: none;
    border-radius: 500px;
    font-size: 30px;
    cursor: pointer;
  }
}
.FirstSection-3_text{
  margin: 20px;
  font-size: 25px;
  font-style: italic;
}
.FirstSection-3_logo{
  margin: 20px;
  width: 380px;
  height: 70px;
  border-radius: 50px;
  background-color: pink;
  display: flex;
  align-items: center;
  img{
    width: 45px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid white;
  }
  .Logo_text{
    margin: 5px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
  }
}

  }
}

.SecondSection{
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
.SecondSection_1{
  font-size: 50px;
}
.SecondSection_2{
  font-style: italic;
  font-size: 30px;
  text-align: center;
  max-width: 50%;
}
.SecondSection_3{
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  img{
    width: 30%;
    margin: 20px;
  }
  .img1{
    border-top-right-radius:150px ;
    border-top-left-radius: 150px;
  }
  .img2{
    border-top-right-radius:150px ;
    border-Bottom-right-radius:150px ;
    border-top-left-radius: 150px;
  }
  .Heading1{
    font-weight: bold;
    font-size: 40px;
  }
  .Heading2{
    font-size: 20px;
  }
  .SecondSection_Button{
    width: 250px;
    height: 50px;
    color: #ffffff;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
  }
}
}

.ThirdSection{
  display: flex;
  flex-direction: column;
margin: 10px;
 justify-content: center;
  align-items: center;

  img:hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(.89);
  }

  .foodlist{
   
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;

    .text{
      font-weight: bold;
      font-size: 20px;
    }
    img{
      border-radius: 50px;
    }
  }

  .searchbox{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    input{
      height: 30px;
      width: 250px;
    }
  }
.Search_First{
 background-color: #FFC107;
 max-width: 90vw;
 display: flex;
 overflow: scroll;
 padding:20px;
}

.text{
  font-weight: bold;
  font-size: 20px;
}
img{
  border-radius: 25px;
 }

 button{
  width: 250px;
  height: 30px;
  background-color: darkgoldenrod;
  color: #ffffff;
  border-radius: 25px;
  border: none;

 }
 button:hover{
  cursor: pointer;
  font-weight: bold;
  transition: 1s;
  background-color: #FFC107;
  color: red;
 }


 table{
  margin: 20px;
  border: 1px solid;
  max-width: 80vw;
  td,th{
    border-bottom: 1px solid ;
  }
 }

 .List{
  border-radius: 50px;
  margin: 10px;
  background-image: url("https://www.verywellfit.com/thmb/zkU5Eji9ciXJUtKIdkTyqsyLOKw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Plant-baseddietjenifoto-73193eabbdc9402ab3bc535562e2ed7e.jpg");
  background-attachment: fixed;

  min-width: 8vw;
  max-width:90vw ;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
 }

 .List:hover{
  cursor: pointer;
  opacity: .8;
  background-image: url("https://w0.peakpx.com/wallpaper/410/412/HD-wallpaper-plain-black-black-thumbnail.jpg");
  background-attachment: fixed;
  .List_div{
    color: red;
  }
 }

 .List_div{
font-size: 29px;  
 }
}

.about{
  width: 100vw;
  height: 2000px;
}

.Page{
  height: 92.8vh;
  display: flex;
  .Page-img{
    width: 60%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .Page-context{
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10px;
    h2{
      text-align: center;
    }
  }
}


.contact{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  .contact-image{
    width: 100%;
    height: 350px;
    background-image: url('https://www.who.int/images/default-source/departments/colorful-vegetables4d565944426546b7a5ca82d24dca5c81.tmb-1920v.jpg?Culture=en&sfvrsn=330f13a6_15');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .contact-image-text{
    width: 700px;
    height: 60px;
    margin-top:15.5%;
    margin-left: 5.8%;
    color: black;
    background-color: bisque;
  }
  .spline {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 0;
    margin-top: 20%;
    z-index: 1;
    width: 100%;
    height: 800px;
    h2{
      font-size: 72px;
      background: -webkit-linear-gradient(#ffffff, #f50606,#065af5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
.contact-form{
  position: relative;
  z-index: 2;
  margin: 50px;
  height: 50vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  // justify-content: center;
  align-items: center;
  form{
    width: 31%;
    font-size: 20px;
    height: 120%;
    label{
    font-weight: bold;
    }
    input{
      width: 97%;
      height: 30px;
    }
    input:focus {
      border: 5px solid red;
    }
    button{
      background-color: green;
      border: none;
      width: 300px;
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      transition: 1.2s;
    }
    button:hover{
      background-color: #504d51;
      color: #ffffff;
      cursor: pointer;
    }
  }
}


}