body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar{
  max-width: 100%;
  background-color: transparent; // this should be transparent
  height: 65px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;

  .Logo{
    img{
      width: 150px;
      height: 30px;
    }
  }

  .Content{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li{
      list-style: none;
      padding: 10px;
      
    }
  }

  .Button{
    button{
      background-color: rgb(34, 117, 34);
      width: 150px;
      height: 50px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      border: none;
      border-radius: 10px
    }
  }

}

.FirstSection{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  
  .FirstSection-1{
    width: 35%;
    margin: 20px;
    padding: 20px;
    .FirstSection-1_text{
      color: green;
      font-size: 80px;
      font-style: italic;
      height: 350px;
     span {
      display: inline-block;
      padding: .25em 0;
      background: #FFC107;
      color: #ffffff;
    }
  }
    .FirstSection-1_Inputbox{
      margin: 20px;
      height: 150px;
      input,Button{
        height: 50px;
        border: none;
      }
      input{
        width: 250px;
        font-size: 20px;
      }
      button{
        background-color: rgb(34, 117, 34);
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .FirstSectio-1_logos{
      display: flex;
      flex-direction: column;
      img{
        margin: 10px;
        max-width: 250px;
      }
    }
  }

  .FirstSection-2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 90%;
      height: 75vh;
      border-top-right-radius: 250px;
      border-top-left-radius: 250px;
    }
      }
  .FirstSection-3{
    width: 20%;
padding: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 110px;
.FirstSection-3_button{
  margin: 20px;
  button{
    width: 50px;
    height: 50px;
    background-color: plum;
    border: none;
    border-radius: 500px;
    font-size: 30px;
    cursor: pointer;
  }
}
.FirstSection-3_text{
  margin: 20px;
  font-size: 25px;
  font-style: italic;
}
.FirstSection-3_logo{
  margin: 20px;
  width: 380px;
  height: 70px;
  border-radius: 50px;
  background-color: pink;
  display: flex;
  align-items: center;
  img{
    width: 45px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid white;
  }
  .Logo_text{
    margin: 5px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
  }
}

  }
}